<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css" />

</head>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (orders.length <= 0) { %>
    <h1>No ORDERS yet!</h1>
    <% } else { %>
    <ul>
      <% orders.forEach(order => { %>
      <li>
        <h1># <%= order._id  %></h1>
        <ul>
          <% order.products.forEach(product => { %>
          <li>
            <p>Product: <%= product.title %></p>
            <p>Quantity: <%= product.orderItem.quantity %></p>
          </li>
          <% }); %>
        </ul>
      </li>
      <% }); %>
    </ul>
    <% } %>

  </main>
  <%- include('../includes/end.ejs') %>